/* base */
@import './base/layouts.css';
@import './base/reset.css';
@import './base/variables.css';


/* 3rd party  */


/* components  */
@import './components/button.css';
@import './components/clock.css';
@import './components/forms.css';
@import './components/mouse.css';
@import './components/progress\ bar.css';

/* CUSTOM STYLE BELOW THIS COMPONENT LINE  */

.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}